footer {
    position:fixed;
    width: 100%;
    background-color: black;
    left:0;
    bottom:0;
    color:white;
    text-align: center;
}


a {
    cursor: pointer;
}

#header {
   margin-bottom: 3px;
}
nav {
    display:inline-block;
    width:100%;
    background-color:black;
    left:0;
    top:0;
    color: white;
}

nav > h3 {
    position:relative;
    float: left;
    left:10px;
    top:2px;
    font-weight:lighter;
    font-size:125%;
    letter-spacing: 1px;
}
a {
    text-decoration:none !important
}
nav > ul {
    list-style-type: none;
}
 
#list {
    float:right;
}
li  {   
    list-style-type: none;
    float:left;
    color: white;
    font-weight:bolder;
    margin: 20px 20px;
}

nav > #list > ul > li > a {
    color: white;   
}


nav > h3 > a {
    color: white;
}
nav > h3 > a:hover {
    color: white;
}




