{% extends 'pmsApp/base.html' %}


{% block style %}
<style>

</style>
{% endblock %}

{% block nav %}
  <li><strong> Welcome {{ viewer }} </strong></li>
 <li><a class = "logout" href = "{% url 'logout' %} ">  <span class="glyphicon glyphicon-log-out" area-hidden="true"></span>&nbsp LOGOUT</a></li>
{% endblock %}


 {% block content %}
<!-- <div class="row ">
    <div class="col-xs-6 text-left">
        <strong><h2> Welcome Admin, </h2></strong>
    </div>
</div> -->

</br>

<ul class="nav nav-tabs nav-justified">
    <li  class="active"><a data-toggle="tab" href="#new">New Applications</a></li>
    <li><a data-toggle="tab" href="#reviewed">Reviewed Applications</a></li>
    <li><a data-toggle="tab" href="#accepted">Accepted Applications</a></li>
    <li><a data-toggle="tab" href="#dispatched">Dispatched Applications</a></li>
    <li><a data-toggle="tab" href="#rejected"> Rejected Applications </a> </li>
</ul>
<br> {% if message %}
<div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ message }} </strong>
</div>
{% endif %}

<div class="tab-content">

    <div id="new" class="tab-pane fade in active">

    {% if applications.0 %}
        <table class="table table-bordered">
            <tr>
                <th> Sl. No </th>
                <th> Full Name </th>
                <th> Email Id </th>
                <th> Photo </th>
                <th style="text-align:center"> Take Action </th>
            </tr>
    {% endif %}
        {% for application in applications.0 %}
             <tr>
                 <td align="center"> 1 </td>
                <td align="center" > {{ application.FirstName|title }} {{ application.LastName |title }} </td>
                <td align="center"> {{ application.ApplicantId.MailId }} </td>
                <td align="center" width="120px"> <img src="{{ application.documents.Photo.url }}" width="80" height="80"></td>
                <td align="center" >
                        <a href="{% url 'docs' id=application.documents.id %}"> <button type ="button" class = "btn btn-primary"> View Application  </button> </a>
                         <a href="{% url 'verify_application' id=application.id %}"> <button type ="button" class = "btn btn-primary"> Submit Application  </button> </a>
                          <a href="{% url 'reject_application' id=application.id%}"> <button type ="button" class = "btn btn-danger"> Reject Application  </button> </a>
                </td>
            </tr>
        {% empty %}
        <div class="alert alert-info">
            <p> no new applicants </p>
        </div>
        {% endfor %}
        </table>
    </div>

    <div id="reviewed" class="tab-pane fade">
        {% if applications.1 %}
        <table class="table table-bordered">
            <tr>
                <th> Sl. No </th>
                <th> Full Name </th>
                <th> Email Id </th>
                <th> Photo </th>
                <th style="text-align:center"> Take Action </th>
            </tr>
    {% endif %}
        {% for application in applications.1 %}
             <tr>
                 <td align="center"> 1 </td>
                <td align="center" > {{ application.FirstName|title }} {{ application.LastName |title }} </td>
                <td align="center"> {{ application.ApplicantId.MailId }} </td>
                <td align="center" width="120px"> <img src="{{ application.documents.Photo.url }}" width="50" height="50"></td>
                <td align="center" >
                        <a href="{% url 'docs' id=application.documents.id%}"> <button type ="button" class = "btn btn-primary"> View Application  </button> </a>
                </td>
            </tr>
        {% empty %}
        <div class="alert alert-info">
            <p> No new Reviewed Applications </p>
        </div>
        {% endfor %}
        </table>
    </div>


<div id="accepted" class="tab-pane fade">
             {% if applications.2 %}
        <table class="table table-bordered">
            <tr>
                <th> Sl. No </th>
                <th> Full Name </th>
                <th> Email Id </th>
                <th> Photo </th>
                <th style="text-align:center"> Take Action </th>
            </tr>
    {% endif %}

        {% for application in applications.2 %}
             <tr>
                 <td align="center"> 1 </td>
                <td align="center" > {{ application.FirstName|title }} {{ application.LastName |title }} </td>
                <td align="center"> {{ application.ApplicantId.MailId }} </td>
                <td align="center" width="120px"> <img src="{{ application.documents.Photo.url }}" width="50" height="50"></td>
                <td align="center" >
                        <a href="{% url 'docs' id=application.documents.id%}"> <button type ="button" class = "btn btn-primary"> View Application  </button> </a>
                        <a href="{% url 'dispatch_passport' id=application.id%}"> <button type ="button" class = "btn btn-danger"> Dispatch Application  </button> </a>
                </td>
            </tr>
    {% empty %}
    <div class="alert alert-info">
        <p> No new Accepted Applications</p>
    </div>
    {% endfor %}
    </table>
</div>

<div id="dispatched" class="tab-pane fade">
            {% if applications.3 %}
        <table class="table table-bordered">
            <tr>
                <th> Sl. No </th>
                <th> Full Name </th>
                <th> Email Id </th>
                <th> Photo </th>
                <th style="text-align:center"> Take Action </th>
            </tr>
    {% endif %}
        {% for application in applications.3 %}
             <tr>
                 <td align="center"> 1 </td>
                <td align="center" > {{ application.FirstName|title }} {{ application.LastName |title }} </td>
                <td align="center"> {{ application.ApplicantId.MailId }} </td>
                <td align="center" width="120px"> <img src="{{ application.documents.Photo.url }}" width="50" height="50"></td>
                <td align="center" >
                        <a href="{% url 'docs' id=application.documents.id%}"> <button type ="button" class = "btn btn-primary"> View Application  </button> </a>
                </td>
            </tr>
        {% empty %}
        <div class="alert alert-info">
            <p> No new Dispatched Applications </p>
        </div>
        {% endfor %}
        </table>
</div>

<div id="rejected" class="tab-pane fade">
    <h3> Rejected by Admin </h3>
           {% if applications.4 %}
        <table class="table table-bordered">
            <tr>
                <th> Sl. No </th>
                <th> Full Name </th>
                <th> Email Id </th>
                <th> Photo </th>
                <th style="text-align:center"> Take Action </th>
            </tr>
    {% endif %}
        {% for application in applications.4 %}
             <tr>
                 <td align="center"> 1 </td>
                <td align="center" > {{ application.FirstName|title }} {{ application.LastName |title }} </td>
                <td align="center"> {{ application.ApplicantId.MailId }} </td>
                <td align="center" width="120px"> <img src="{{ application.documents.Photo.url }}" width="50" height="50"></td>
                <td align="center" >
                        <a href="{% url 'docs' id=application.documents.id%}"> <button type ="button" class = "btn btn-primary"> View Application  </button> </a>
                </td>
            </tr>
    {% empty %}
    <div class="alert alert-info">
        <p> No new Rejected Applications by Admin</p>
    </div>
    {% endfor %}
    </table>

    <h3> Rejected by Police </h4>
      {% if applications.5 %}
        <table class="table table-bordered">
            <tr>
                <th> Sl. No </th>
                <th> Full Name </th>
                <th> Email Id </th>
                <th> Photo </th>
                <th style="text-align:center"> Take Action </th>
            </tr>
    {% endif %}
        {% for application in applications.5 %}
             <tr>
                 <td align="center"> 1 </td>
                <td align="center" > {{ application.FirstName|title }} {{ application.LastName |title }} </td>
                <td align="center"> {{ application.ApplicantId.MailId }} </td>
                <td align="center" width="120px"> <img src="{{ application.documents.Photo.url }}" width="50" height="50"></td>
                <td align="center" >
                        <a href="{% url 'docs' id=application.documents.id%}"> <button type ="button" class = "btn btn-primary"> View Application  </button> </a>
                </td>
            </tr>
    {% empty %}
    <div class="alert alert-info alert-dismissible fade show">
        <p> No new Applicants </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
