{% extends 'pmsApp/base.html' %}

{% block style %}
<style>
</style>
{% endblock %}


{% block nav %}
  <li><strong> Welcome {{ viewer }} </strong></li>
 <li><a class = "logout" href = "{% url 'logout' %} ">  <span class="glyphicon glyphicon-log-out" area-hidden="true"></span>&nbsp LOGOUT</a></li>
{% endblock %}


{% block content %}
<center> <h2> Application </h2> </center>
<br/>
<ul class="nav nav-tabs nav-justified">
    <li  class="active"><a data-toggle="tab" href="#information">Applicant Information</a></li>
    <li> <a data-toggle="tab" href="#documents">  Documents </a></li>
    <li> <a data-toggle="tab" href="#status"> Status </a></li>
</ul>
<br>
{% if message %}
<div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ message }} </strong>
</div>
{% endif %}


<div class="tab-content">


    <div id="information" class="jumbotron tab-pane fade in active" style="padding-left:50">
    <table class="table">
    <tr>
        <td > <strong> First Name: </strong> </td>
        <td>{{ documents.ApplicationId.FirstName | title }} </td>
    </tr>

 <tr>
        <td > <strong> Middle Name: </strong> </td>
        <td>{{ documents.ApplicationId.MiddleName | title }} </td>
    </tr>

 <tr>
        <td > <strong> Last Name: </strong> </td>
        <td>{{ documents.ApplicationId.LastName | title  }}  </td>
    </tr>

     <tr>
        <td > <strong> Date Of Birth: </strong> </td>
        <td>{{ documents.ApplicationId.DateOfBirth }} </td>
    </tr>

     <tr>
        <td > <strong> Gender: </strong> </td>
        <td>{{ documents.ApplicationId.gender_verbose | title}} </td>
    </tr>
     <tr>
        <td > <strong> Place Of Birth: </strong> </td>
        <td>{{ documents.ApplicationId.PlaceOfBirth | title }} </td>
    </tr>

       <tr>
        <td > <strong> Address: </strong> </td>
        <td>{{ documents.ApplicationId.Address | title }} </td>
    </tr>

       <tr>
        <td > <strong> City: </strong> </td>
        <td>{{ documents.ApplicationId.city_verbose }} </td>
    </tr>

       <tr>
        <td > <strong> State: </strong> </td>
        <td>{{ documents.ApplicationId.state_verbose }} </td>
    </tr>

         <tr>
        <td > <strong> PhoneNo: </strong> </td>
        <td>{{ documents.ApplicationId.PhoneNo }} </td>
    </tr>

    </table>



</div>


<div id="documents" class="tab-pane fade in">

<div class="jumbotron">
    <table class = "table">
        <tr>
            <td class="col-md-8"> <strong> Photo </strong></td>
            <td><img src = "{{ documents.Photo.url }}" width="100px" height="150"> </td>
            <td> <a href = "{{ documents.Photo.url }}" > View large Size </a></td>
            <br/>
        </tr>

          <tr>
            <td> <strong> Address Proof </strong></td>
            <td><img src = "{{ documents.AddressProof.url }}" width="100px" height="150px"> </td>
            <td> <a href = "{{ documents.AddressProof.url }}" > View large Size </a></td>
        </tr>

        <tr>
            <td> <strong> Birth Certificate </strong></td>
            <td><img src = "{{ documents.BirthCertificate.url }}" width="100px" height="150px"> </td>
            <td> <a href = "{{ documents.BirthCertificate.url }}" > View large Size</a> </td>
        </tr>
    </table>
</div>

<br/>
<br/>

</div>
<div id = "status" class = "tab-pane fade in">
    <div class = "jumbotron" align="center">
        <table class = "table">
            <tr>
                <td class="col-md-8"> <strong> Status </strong></td>
                <td> {{ application.status.Message }}</td>
                <br/>
            </tr>

            {% if application.status.Reasons %}
              <tr>
                <td> <strong> Reasons </strong></td>
                <td> {{ application.status.Reasons }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

</div>
{% endblock %}
