
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <title>
      {% block title %} 
      {% endblock %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'pmsApp/css/base.css' %}" />
   {% block style %} {% endblock %}
</head>
<body>
  <!-- Header Section -->
  <div id = "header">
  <nav>
   <h3><a href = "{% url 'home_page' %}">  Passport Management System </a></h3>
   <div id = "list">
    <ul>
      
      {% block nav %}
      {% endblock %}
    </ul>
  </div>
    
  </nav>
</div>

  <!-- Main Section -->
  <section id = "main">
    <div class = "container">
    {% block content %}
    {% endblock %}
    </div>
  </section>

  <footer>
   <h4> Copyright 2018. All rights reserved.  </h4>
  </footer>
 
</body>
</html>

