{% extends 'pmsApp/base.html' %}


{% block style %}
<style>

</style>
{% endblock %}

{% block nav %}
<li> WELCOME OFFICER </li>
 <li><a class = "logout" href = "{% url 'logout' %} ">  <span class="glyphicon glyphicon-log-out" area-hidden="true"></span>&nbsp LOGOUT</a></li>
{% endblock %}



{% block content %}

<div class="row ">
    <div class="col-xs-6 text-left">
        <strong><h2> New Applications </h2></strong>
        <br/>
    </div>
</div>

 {% if message %}
<div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ message }} </strong>
</div>
{% endif %}

 {% if applications %}
        <table class="table table-bordered">
            <tr>
                <th> Sl. No </th>
                <th> Full Name </th>
                <th> Email Id </th>
                <th> Photo </th>
                <th style="text-align:center"> Take Action </th>
            </tr>
    {% endif %}
        {% for application in applications %}
             <tr>
                <td align="center"> 1 </td>
                <td align="center" > {{ application.FirstName|title }} {{ application.LastName |title }} </td>
                <td align="center"> {{ application.ApplicantId.MailId }} </td>
                <td align="center" width="120px"> <img src="{{ application.documents.Photo.url }}" width="50" height="50"></td>
                <td align="center" >
                        <a href="{% url 'docs' id=application.documents.id %}"> <button type ="button" class = "btn btn-primary"> View Application  </button> </a>
                         <a href="{% url 'clear_application' id=application.id %}"> <button type ="button" class = "btn btn-primary"> Verify and Clear Application  </button> </a>
                          <a href="{% url 'reject_application_by_police' id=application.id %}"> <button type ="button" class = "btn btn-danger"> Reject Application  </button> </a>
                </td>
            </tr>
    {% empty %}
    <div class="alert alert-info">
        <p> No applicants to be verified </p>
    </div>
    {% endfor %}
</table>

{% if error %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ error }} </strong>
</div>
{% endif %}

{% endblock %}
