{% extends 'pmsApp/base.html' %}

{% block style %}
<style>
    #complaint_list {
        width: 100%;
        margin: 0 auto;
        padding-left: 20%;
        padding-right:10%;
        padding-bottom:5%;
        border:1px solid black;
    }
    input {
        width: 10%;
    }
    #address {
        width: 80%;
    }

    #btn-group > a > input {
        float:right;
        margin: 0 5px;
    }
</style>
{% endblock %}

{% block nav %}
  <li><strong> WELCOME OFFICER </strong></li>
 <li><a class = "logout" href = "{% url 'logout' %} ">  <span class="glyphicon glyphicon-log-out" area-hidden="true"></span>&nbsp LOGOUT</a></li>
{% endblock %}

{% block content %}
    <center> <h2> Verify Application </h2></center>
    <div id = "complaint_list">
        <h3> {{ application.FirstName | title }} {{ application.MiddleName | title}} {{ application.LastName | title}}</h3>
        <h4> {{ application.ApplicantId.Id }}</h4>           
        <address id = "address" class="well" > {{ application.Address | title }} {{ application.state_verbose }} - {{ application.Zipcode }} </address>
        <form method = "POST" action = " {% url 'reject_application_by_police' id=application.id %}">
            {% csrf_token %}
            <input type = "checkbox" name = "complaints" value="Not Present In The Same Address"/> Not Present in the same address <br/>
            <input type = "checkbox" name = "complaints" value="Chargesheet"/> Chargesheet  <br/>
            <input type = "checkbox" name = "complaints" value="FIR"/> FIR<br/>
            <input type = "checkbox" name = "complaints" value="Theft or Robbery"/> Theft or Robbery <br/>
            <input type = "checkbox" name = "complaints" value="Illegal involvements"/> Other Illegal involvements<br/><br/>
            <div id = "btn-group">
             <a href = "{% url 'dashboard_p' %}">   <input class = "btn btn-info" type="button" value = "CANCEL"/></a>
               <a href = "#"> <input class = "btn btn-danger" type="submit" value = "REJECT"/></a>
            </div>
        </form>
    </div>
{% endblock %}