
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<style>
.main {
  margin-top: 4%;
}
.apply_for_passport {
  margin: 0 auto;
  width: 40%;
}
</style>
<div class = "main">
  <center> <h1> Fill the Application Form</h1> </center>
  <br/>
<div class = "container">
  <div class = "apply_for_passport">
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{  form1 | crispy }}
        {{ form2 | crispy }}
        <button type="submit" class="save btn btn-primary">Apply</button>
    </form>
    </div>
  </div>
