{% extends 'pmsApp/base.html' %}

{% block title %}
    User Dashboard
{% endblock %}

{% block style %}
<style>
  
</style>
{% endblock %}

{% block nav %}
 <li><a class = "logout" href = "{% url 'logout' %} ">  <span class="glyphicon glyphicon-log-out" area-hidden="true"></span>&nbsp LOGOUT</a></li>
{% endblock %}

{% block content %}

<div class = "container">
    <div class = "row ">
        <div class = "col-xs-6 text-left">
<strong><h2> Welcome {{ user.UserName | title }},</h2></strong>
</div>
</div>


<div style = "padding-top:30">
<div class = "well">
<div class = "row" style="padding:20 0 0 0">
    <div class = "col-xs-12">
{% if not has_applied %}
    <center> <a href = "{% url 'application_form' %}"> <button id = "apply_for_passport_button" class = "btn btn-primary"> APPLY FOR PASSPORT  </button></a></center>
{% endif %}



{% if message %}
    <div class = "alert alert-info">
     <h3> {{ message }} </h3>
    </div>
{% endif %}


{% if status %}
    <div class = "alert alert-warning">
     <h4><strong>STATUS:
    {{ status }}</strong>
    </h4>
    </div>
<!-- <div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
    <span class="sr-only">80% Complete (danger)</span>
  </div> -->
{% endif %}
</div>

</div>

</div>
</div>

{% endblock %}
