{% extends 'pmsApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block title %} 
  login 
{% endblock %}

{% block style %}
<style>
  .register_applicant {
    margin: 0 auto;
    width: 30%;
  }
  .main {
    margin-top: 5%
  }
</style>
{% endblock %}


{% block nav %}
{% if user == 'Applicant' %}
 <li><a href = "{% url 'login_police_officer' %}"> Police </a></li>
<li> <a href = "{% url 'login_admin' %}"> Admin </a></li>

{% else %}

  {% if user == 'Admin' %}
  <li> <a href = "{% url 'login_applicant' %}"> User login </a></li>
  <li> <a href = "{% url 'login_police_officer' %}"> Police </a></li>
  {% else %}
    <li> <a href = "{% url 'login_applicant' %}"> User login </a></li>
    <li> <a href = "{% url 'login_admin' %}"> Admin </a></li>
  {% endif %}

{% endif %}

{% endblock %}

{% block content %}
<div class = "main">
  <center><h1> {{ user }} Login</h1> </center>

  <div class = "register_applicant">
<br/>
    <form method="POST" class="form">{% csrf_token %}
        {{ form | crispy }}
    <center>
    <button type="submit" class="save btn btn-primary">
       <span class="glyphicon glyphicon-log-in" area-hidden="true"></span> &nbsp LOGIN &nbsp
    </button>
    </center>
    </form>

    {% if error %}
    <div class="alert alert-danger">
            <strong> {{ error }} </strong>
     </div>
    {% endif %}

    {% if message %}
    <div class = "alert alert-success">
        <strong> {{ message }} </strong>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
