{% extends 'pmsApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block style %}
<style>
.register_applicant {
  margin: 0 auto;
  width: 40%
}

.main {
  margin-top: 5%;
}
</style>
{% endblock %}


{% block content %}
<div class = "main">
<strong><center> <h1> Register</h1> </center></strong>
<div class = "container"  >
    <div class = "register_applicant">
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form|crispy}}
        <center>
        <button type="submit" class="save btn btn-primary">Sign Up</button>
    </form>
    <br/>
    <br/>
    {% if error %}
    <div class = "alert alert-danger">
      {{ error }}
    </div>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}